footer{
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  color: white;
  height: 300px;
}
.footer-contents{
  text-align: center;
  display: inline-block;
  height: 250px;
  width: 25vw;
  ul{
    text-align: left;
    li{
      margin: 10px;
    }
    .li1{
      font-size: 20px;
    }
  }
}
.footerBottom{
  height: 50px;
  width: 100vw;
}
