@media screen and (max-width: 499px){

}
@media screen and (min-width: 500px) and (max-width:999px){

}
@media screen and (min-width: 1000px){
  
.HomeApp{
  margin: auto;
  text-align: center;
  width: 1000px;
  img{
    width:1000px;
    height: 500px;
  }
  .content{
    height: 500px;
  }
  .left{
    display:inline-block;
    width: 500px;
    height: 500px;
  }
  .right{
    display:inline-block;
    height: 500px;
    width:500px;
  }
  .a1:hover{
    outline: solid 4px black;
  }
  .a2:hover{
    outline: solid 4px black;
  }
}
}
