@media screen and (max-width: 499px){

}
@media screen and (min-width: 500px) and (max-width:999px){

}
@media screen and (min-width: 1000px){
  
  .HomeApp{
    margin: auto;
    text-align: center;
    background-color: gray;
    width: 1000px;
  }
  .content{
    height: 500px;
  }
  .left{
    display:inline-block;
    width: 500px;
  }
  .right{
    display:inline-block;
    width:500px;
  }
  .leftButton{
    margin: auto;
    height: 60px;
    width: 140px;
  }
  .rightButton{
    margin: auto;
    height:60px;
    width: 140px;
  }
}
