footer{
  background: #000000;
}
.copylight{
  color:white;
}
.footerBottom{
  p{
    color: white;
  }
  background: #000000;
  border-top: 1px solid white;
}

@media screen and (min-width: 1000px){
  footer{
    position: absolute;
    left: 0%;
    right: 0%;
    height: 300px;
  }
  .innerFooter{
    width:1000px;
    margin: auto;
    height:250px;
  }
  .logo{
    margin: 25px;
    height:40px;
    width: 200px;
  }
  ul{
    display: inline-block;
    width: 200px;
    margin: 50px 25px;
    text-align: left;
  }
  li{
    margin: 10px;
  }
  li:hover{
    color: skyblue;
  }
  .listHead{
    margin: 15px 15px 15px 10px;
    font-size: 20px;
  }
  .footerBottom{
    height: 50px;
    width:100%;
    bottom: 0px;
    vertical-align: middle;
  }
}
